* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.background {
  background-color: #24406f;
  height: 100%;

  background-image: url(./assests/lines.svg), url(./assests/dot.png);
  background-position: top right;
  background-repeat: no-repeat, repeat;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  align-items: center;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100; /* this is optional and should be different for every project */
  background-color: none;
  transition: 0.5s;
}
.sticky.scroll {
  background-color: #213364;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul {
  display: flex;
}
nav li {
  list-style: none;
  color: white;
  padding: 20px 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
nav .nav-btn a {
  background-color: #2a448c;
  color: white;
  font-size: 16px;
  text-align: center;
  width: 140px;
  height: 35px;
  padding: 5px;
}
.btn-container {
  display: flex;
}
.nav-btn {
  display: flex;
  border: 2px solid #359ef6;
  align-items: center;
  transition: 0.2s;
  margin: 0 20px;
}
.nav-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}
.nav-btn span {
  padding: 7px;
  background-color: #359ef6;
  color: white;
}

.hr-line {
  margin: 0 auto;
  display: flex;
  margin-top: 70px;
}
.Shell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  color: white;
}
.Shell h1 {
  font-size: 48px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  line-height: 75px;
}
.Shell h3 {
  color: #d3dffa;
  font-weight: 400;
  line-height: 39px;
  font-size: 22px;
}
.shell-btns button {
  margin: 20px;
  width: 150px;
  height: 45px;
  background-color: #24406f;
  border-radius: 20px;
  border: 2px solid #359ef6;
  color: white;
}
.drop-down {
  position: absolute;
  z-index: 99;
  left: 10px;
  top: 100%;
  background-color: #213364;
  width: 700px;
}
.drop-down::before {
  content: "";
  background-color: #213364;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: -10px;
  left: 20px;
  transform: rotateZ(45deg);
}
.drop-img {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px;
}
.hameburger {
  display: none !important;
}
.drop-cat {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}
.drop-cat > div {
  width: 50%;
}

@media (max-width: 950px) {
  .nav-btn span {
    display: none;
  }
}
@media (max-width: 950px) {
  .nav-btn {
    border: none;
  }
  nav .nav-btn a {
    background-color: transparent;
  }
}

@media (max-width: 750px) {
  .hameburger {
    display: block !important;
    color: rgb(230, 227, 227);
  }

  .nav-btn {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
  .nav_links {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    background-color: #213364;
  }
  .nav_links.scrolled {
    top: 61px;
  }
  .nav_links ul {
    flex-direction: column;
    text-align: center;
  }

  #featuresDropDown {
    display: none !important;
  }
}
